{# LOOP
Generates a basic post loop/index #}

{% set inner_children = page.collection()|length > 0 ? page.collection() : page.children.visible('folder','asc') %}

  {% if inner_children %}
    <hr>
    {% set inner_children = inner_children.order(page.header.content.order.by|default(system.pages.order.by), page.header.content.order.dir|default(system.pages.order.dir)) %}
    {% for child in inner_children %}
      <h3><a href="{{ child.url }}">{{ child.title|e }}</a></h3>
      <p>Published on {{child.date|date("F j, Y")}}.</p>
      <p>{{ child.summary|raw }}</p>
      <br>
      <em><a href="{{ child.url }}">Continue reading...</a></em>
      <hr>
    {% endfor %}
  {% endif %}