<nav>
  <ul>
  {% for p in pages.children.visible('folder','asc') %}
    <li><a href="{{ p.url }}">{{ p.title|e }}</a></li>
  {% endfor %}

  {% if config.plugins["feed"].enabled and
    (page.template() in blog_templates) and
    page.header.content.items %}
    <li><a href="{{ canonical_url }}.rss"
           title="{{ site.title }} | {{ page.title }} feed">RSS</a></li>
   {% endif %}
  </ul>
</nav>


